@tailwind base;
@tailwind components;
@tailwind utilities;

/* .animate-typing {
  @apply animate-typing;
} */

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }

  body {
    @apply  text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
    
  }
}
/* light mode */
.bg-background {
  background-color: var(--background-light);
}

/* dark mode */
.dark .bg-background {
  background-color: var(--background-dark);
}